* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  padding: 1rem 1.5rem;
  display: flex;

  /* Dark Mode */
  /* background-color: #202020; */
  /* color: white; */
}

#title {
  font-weight: 600;
}

.right {
  padding: 1rem 1.5rem;
}

ul {
  padding: 0 1rem;
}

ul > li {
  cursor: pointer;
}
