:root {
  --container-width: 500px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

::selection {
  background-color: skyblue;
  color: #101010;
}

.input {
  padding: 1rem 1.25rem;
  padding-right: 6.5rem;
  border: none;
  width: var(--container-width);
  max-width: 98vw;
  border-radius: 5px;
  font-size: 1rem;
  outline: transparent;
}

.btn {
  position: absolute;
  border-radius: 5px;
  right: 4px;

  color: white;
  border: none;

  padding: 0.8rem 1rem;
  cursor: pointer;
}

.notesList {
  width: var(--container-width);
  max-width: 98%;
  list-style: none;
  padding: 1rem 5px;
  margin-bottom: 0;

  height: 50vh;
  overflow: auto;
}

.notesList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.notesList > li {
  background: white;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #00000010;
  position: relative;
  display: flex;
  align-items: center;
}

.notesList > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.notesList > li input {
  margin-left: 0;
  margin-right: .5rem;
}

.notesList > li input:checked + * {
  text-decoration: line-through;
}

.close {
  margin-left: auto;
  line-height: 12px;
  cursor: pointer;
}

svg {
  color: #101010;
}

svg:hover {
  color: crimson;
}